body {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    margin: 0;
}

header {
    background-image: url(BMW_logo_\(gray\).svg.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    margin-bottom: 10px;
    background-size: 70px 70px;
    padding-bottom: 77px;
}



nav {
    border-bottom: 1px solid #86a3dd;
    border-top: 1px solid #86a3dd;
    text-align: center;
}

h2 {
    color: rgb(69, 97, 190);
    margin-left: 20px;
    text-align: left;
}
a {
    color: #0d2ea7fe;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}
div.galeria {
    border: 1px solid #ccc;
    }
    div.galeria:hover {
    border: 3px solid #777;
    }
    div.galeria img {
    width: 95.9%;
    height: auto;
    }
    div.desc {
    padding: 20px;
    text-align: center;
    }
    * {
    box-sizing: border-box;
    }
    .responsive {
    padding: 0 6px;
    float: left;
    width: 24.98%;
    }
    @media only screen and (max-width: 700px) {
    .responsive {
    width: 49.99%;
    margin: 8px 0;
    }
    }
    @media only screen and (max-width: 500px) {
    .responsive {
    width: 100%;
    }
    }
    .clearfix:after {
    content: "";
    display: table;
    clear: both;
    }

section {
    margin-left: 100px;
    border: 1px solid gray;
    width: 1480px;
    margin-bottom: 20px;
}

div {
    text-align: justify;
    padding: 10px;
}

footer {
    padding: 20px 50px;
    background-color: rgb(56, 126, 165);
}

h4 {
    color: white;
    font-weight: bold;
}

article {
    padding: 10px;
    margin-left: 20px;
    margin-right: 1120px;
    background-color: white;
    margin-top: 30px;
    font-size: large;
}
